@import './components/home';
@import './components/sort';
@import './components/card';
@import './components/container';
@import './components/select-algorithm';
@import './components/sort';
@import './components/sort-menu';
@import './components/sort-element';
@import './components/sort-slider';
@import './components/test-sort-dialog';

@import './globals';

//base
@import './normalize';
@import './base';

//transitionGroups
@import './transitionGroups';

//pages
@import './solutions';
//ui
@import './ui';

body {
  width: 100vw;
  height: 100vh;
  #__next {
    width: 100%;
    height: 100%;
  }
}
