@import './../globals';

.Card {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50rem;
  height: 50rem;
  border: 2px solid #eee;
  color: rgb(85, 85, 85);
  box-shadow: 0px 0px 38px -19px rgba(#eee, 0.75);
  padding: 3rem 5rem;
  margin: 5rem 0;
  border-radius: 1rem;
  transition: box-shadow 0.2s ease-in-out;

  @media (max-width: 600px) {
    height: auto;
    margin: .5rem 0;
  }

  > .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > h2 {
      position: relative;
      font-size: 3.5rem;
    }

    > svg {
      opacity: 0;
      transform: translateX(-2rem);
      transition: all 0.2s ease-in-out;
    }
  }

  &__description {
    font-size: 1.5rem;
  }

  &__icon {
    margin-top: auto;
  }

  &:hover {
    box-shadow: 0px 0px 58px -19px rgba(#ccc, 0.75);
    border-color: #ccc;
    cursor: pointer;

    .title {
      svg {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
