.Sort {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3rem 2rem;
  max-width: 100%;
  max-height: 100%;
  .titles {
    margin-bottom: 1rem;
    > h1 {
      font-size: 3rem;
    }
    > p {
      font-size: 1.5rem;
    }
  }

  .controls {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
    width: 100%;

    & > * {
      margin-right: 1rem;
    }
  }

  .elements {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    transform: rotate(180deg)
  }
}
