.Sort {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3rem 2rem;
  max-width: 100%;
  max-height: 100%;

  @media (max-width: 600px) {
    justify-content: space-between;
  }

  .titles {
    margin-bottom: 1rem;

    >h1 {
      font-size: 3rem;
    }

    >p {
      font-size: 1.5rem;
    }
  }

  .controls {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
    width: 100%;

    &>* {
      margin-right: 1rem;
    }

    @media (max-width: 600px) {
      flex-wrap: wrap-reverse;


      &>button {
        flex: 1 !important;
        margin-bottom: 1rem;

        &:nth-child(4) {
          margin-right: 0 !important;
        }
      }
    }
  }

  .elements {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    transform: rotate(180deg);
  }
}