@import './components/home';
@import './components/sort';

@import './globals';

//base
@import './normalize';
@import './base';

//transitionGroups
@import './transitionGroups';

//pages
@import './solutions';
//ui
@import './ui';

body {
  width: 100vw;
  height: 100vh;
  #__next {
    width: 100%;
    height: 100%;
  }
}
